<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----------------------------------------------------------------------------------->
    <!--                               estilos bootstrap                               -->
    <!----------------------------------------------------------------------------------->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!----------------------------------------------------------------------------------->
    <link rel="stylesheet" href="css/estilos.css" />
    <title>Installed</title>
  </head>
  <body>
    <div class="container-fluid">
      <header class="mb-5"></header>

      <!----------------------------------------------------------------------------------->
      <!--                                      MAIN                                     -->
      <!----------------------------------------------------------------------------------->

      <!-- HERNAN -->
      <main>
        <section class="mb-5" id="servicios ">
          <h2 class="text-center mb-5">Servicios</h2>
          <div class="row g-2 justify-content-around">
            <div
              class="col-md-6 d-flex justify-content-center align-items-center order-1"
            >
              <div class="col">
                <div
                  class="card p-3 mb-3 estilos-card"
                  style="max-width: 540px"
                >
                  <div class="row g-0">
                    <div class="col-6 col-md-4 gy-3">
                      <img
                        src="../Views/img/img_productos_servicios/asesoramiento.png"
                        alt=""
                        class="mx-auto d-block estilos-img"
                      />
                    </div>

                    <div class="col-6 col-md-8">
                      <div class="card-body custom-text">
                        <h5 class="card-title">Asesoramiento</h5>
                        <p class="card-text">
                          Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit. Consectetur, alias!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="card p-3 mb-3 estilos-card-servicios"
                  style="max-width: 540px"
                >
                  <div class="row g-0">
                    <div class="col-6 col-md-4 gy-3">
                      <img
                        src="../Views/img/img_productos_servicios/diseño.png"
                        alt=""
                        class="mx-auto d-block estilos-img"
                      />
                    </div>

                    <div class="col-6 col-md-8">
                      <div class="card-body custom-text">
                        <h5 class="card-title">Diseño</h5>
                        <p class="card-text">
                          Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit. Consectetur, alias!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="card p-3 mb-3 estilos-card-servicios"
                  style="max-width: 540px"
                >
                  <div class="row g-0">
                    <div class="col-6 col-md-4 gy-3">
                      <img
                        src="../Views/img/img_productos_servicios/optimizacion.png"
                        alt=""
                        class="mx-auto d-block estilos-img"
                      />
                    </div>

                    <div class="col-6 col-md-8">
                      <div class="card-body custom-text">
                        <h5 class="card-title">Optimizacion</h5>
                        <p class="card-text">
                          Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit. Consectetur, alias!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col order-lg-2">
              <img
                src="../Views/img/img_productos_servicios/buy.jpg"
                alt=""
                class="mx-auto d-block w-100"
              />
            </div>
          </div>
        </section>

        <!-- --------------------------------------PRODUCTOSSS-------------------------------------- -->
        <section id="productos">
          <h2 class="text-center mb-5">Productos</h2>

          <div class="row row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100 shadow estilos-card">
                <img
                  src="../Views/img/img_productos_servicios/focoLED.png"
                  alt=""
                  class="card-img-top w-100 estilos-fondo"
                />
                <div class="card-body">
                  <h4 class="card-title">Foco led</h4>
                  <p class="card-text">
                    Lámparas Led Osram 9w = 75w Luz Día/fría
                  </p>
                </div>
                <div class="card-footer estilos-footer-card">
                  <div class="float-start">
                    <h4>$1.910</h4>
                  </div>
                  <div class="float-end">
                    <button class="btn btn-primary rounded-3">
                      <i class="fas fa-shopping-cart">Comprar</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100 shadow estilos-card">
                <img
                  src="../Views/img/img_productos_servicios/focoRGB.png"
                  alt=""
                  class="card-img-top w-100 estilos-fondo"
                />
                <div class="card-body">
                  <h4 class="card-title">Foco led rgb</h4>
                  <p class="card-text">
                    Lampara Led Smart Wifi Rgb 10w Dimerizable Bluetooth Baw
                  </p>
                </div>
                <div class="card-footer estilos-footer-card">
                  <div class="float-start">
                    <h4>$1.772</h4>
                  </div>
                  <div class="float-end">
                    <button class="btn btn-primary rounded-3">
                      <i class="fas fa-shopping-cart">Comprar</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100 shadow estilos-card">
                <img
                  src="../Views/img/img_productos_servicios/tiraLED.jpg"
                  alt=""
                  class="card-img-top w-100 estilos-fondo"
                />
                <div class="card-body">
                  <h4 class="card-title">Tira led</h4>
                  <p class="card-text">
                    Tira Led 5050 Blanco Frio Fuente Autoadhesiva Rollo 5 Metros
                  </p>
                </div>
                <div class="card-footer estilos-footer-card">
                  <div class="float-start">
                    <h4>$2.999</h4>
                  </div>
                  <div class="float-end">
                    <button class="btn btn-primary rounded-3">
                      <i class="fas fa-shopping-cart">Comprar</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100 shadow estilos-card">
                <img
                  src="../Views/img/img_productos_servicios/tiraLedRGB.jpg"
                  alt=""
                  class="card-img-top w-100 estilos-fondo"
                />
                <div class="card-body">
                  <h4 class="card-title">Tira led RGB</h4>
                  <p class="card-text">
                    Tira Led 5050 Rgb Exterior X10 Mts Kit Fuente Control
                  </p>
                </div>
                <div class="card-footer estilos-footer-card">
                  <div class="float-start">
                    <h4>$5.599</h4>
                  </div>
                  <div class="float-end">
                    <button class="btn btn-primary rounded-3">
                      <i class="fas fa-shopping-cart">Comprar</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100 shadow estilos-card">
                <img
                  src="../Views/img/img_productos_servicios/panelLed.png"
                  alt=""
                  class="card-img-top w-100 estilos-fondo"
                />
                <div class="card-body">
                  <h4 class="card-title">Panel led</h4>
                  <p class="card-text">
                    Panel Led Aplicar 60x60 Cm 48w Con Marco Werke
                  </p>
                </div>
                <div class="card-footer estilos-footer-card">
                  <div class="float-start">
                    <h4>$12.700</h4>
                  </div>
                  <div class="float-end">
                    <button class="btn btn-primary rounded-3">
                      <i class="fas fa-shopping-cart">Comprar</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100 shadow estilos-card">
                <img
                  src="../Views/img/img_productos_servicios/apliqueLed.png"
                  alt=""
                  class="card-img-top w-100 estilos-fondo"
                />
                <div class="card-body">
                  <h4 class="card-title">Aplique led</h4>
                  <p class="card-text">
                    Aplique de pared. Panel Luz Led 18w rectangular
                  </p>
                </div>
                <div class="card-footer estilos-footer-card">
                  <div class="float-start">
                    <h4>$8.000</h4>
                  </div>
                  <div class="float-end">
                    <button class="btn btn-primary rounded-3">
                      <i class="fas fa-shopping-cart">Comprar</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <!----------------------------------------------------------------------------------->
    <!--                                     FOOTER                                    -->
    <!----------------------------------------------------------------------------------->

    <!-- tsue -->
    <!----------------------------------------------------------------------------------->
    <!--                                script bootstrap                               -->
    <!----------------------------------------------------------------------------------->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!----------------------------------------------------------------------------------->

    <!----------------------------------------------------------------------------------->
    <!--                               script fontawesome                              -->
    <!----------------------------------------------------------------------------------->
    <script
      src="https://kit.fontawesome.com/1cfac9386a.js"
      crossorigin="anonymous"
    ></script>
    <!----------------------------------------------------------------------------------->

    <script src="js/script.js"></script>
  </body>
</html>
